.item-list-container h2 {
  width: 100%;
  text-align: center;
  margin: 2rem 0rem;
}

.btn-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.total-pagar {
  width: 100%;
  text-align: center;
}
.item-list-container > .product-item{
  display: flex;
  flex-direction: row;
  max-width: 100%; /* 250px */
  margin: 0px;
}
.item-list-container >.product-item img{
  width: 20%;
  height: auto;
}
.item-list-container >.product-item p{
  display: none;
}
.item-list-container > .product-item span{
  padding: 19px;
}
.btn-panaderia-cart-elimimar{
  display: flex;
  padding: 15px;
  height: 55px;
  margin: 1rem 0rem; /*18px 0px*/
}