.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

section h1 {
  font-family: "Poppins";
  text-align: center;
  margin-bottom: 40px;
}
